/* line 2, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
body {
  overflow-x: hidden;
}

/* line 4, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-top-6 {
  margin-top: 6% !important;
}

/* line 8, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-top-8 {
  margin-top: 8% !important;
}

/* line 12, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-top-1 {
  margin-top: 2% !important;
}

/* line 16, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-top-0 {
  margin-top: 1% !important;
}

/* line 20, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-top-3 {
  margin-top: 3% !important;
}

/* line 24, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-left-3 {
  margin-left: 3% !important;
}

/* line 28, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-left-5 {
  margin-left: 11% !important;
}

/* line 32, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-left-1 {
  margin-left: 1% !important;
}

/* line 36, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-left-12 {
  margin-left: 12% !important;
}

/* line 39, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #23C6C8 !important;
  border-color: #23C6C8 !important;
  color: white !important;
}

/* line 45, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.panel-info > .panel-heading {
  background-color: #23C6C8 !important;
}

/* line 48, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.panel-info {
  border-color: #23C6C8 !important;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

/* line 54, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.bg-white {
  background-color: #FBFBFB !important;
}

/* line 57, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.hyper1 {
  color: white !important;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size: 200%;
  margin-left: 20% !important;
}

/* line 63, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.hyper {
  color: white !important;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size: 120%;
  margin-left: 1% !important;
}

/*.navbar-default {
    background-color: #e60073 !important;
   
}
.navbar-primary {
    background-color: #ffccff !important;
}*/
/* line 77, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
div.border {
  border: 1px solid #D3D3D3 !important;
}

/* line 81, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.p2 {
  font-family: Hanken !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 1.27083 !important;
}

/* line 89, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.errors {
  color: red;
}

/* line 93, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.margin-bottom-3 {
  margin-bottom: 3% !important;
}

/* line 96, /home/tecorb/Desktop/escorts/app/assets/stylesheets/business.css.scss */
.errspan {
  float: left;
  top: 24px;
  left: 12px;
  position: relative;
  z-index: 2;
  color: grey;
}
