<div class="chat">
  <div class="row">
    <%@comments.each do |comment|%>
    	<% if current_business_user.id==comment.user_id %>
    		<div class="row">
  		    <div class="col-lg-5 bubble me">
  		      <strong> Me : </strong> <span class="pull-right"><%="#{time_ago_in_words(comment.created_at)} ago "%></span><br>              
  		      <%= comment.comment %><br>
  		    </div>
  		  </div>
  	  <%else%>
  	  	<div class="col-lg-5 bubble you">
  	      <strong> Help Support : </strong> <span class="pull-right"><%="#{time_ago_in_words(comment.created_at)} ago "%></span><br>
  	      <%= comment.comment%><br>
  	    </div>
   		<%end%>
   	<%end%>  	
  </div>
</div>