<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.fname %> !</h2>
    <p>Don't worry about your lost password. We are here to help you.</p>
    
    <h3>Set your new password by following link</h3>
    
    <strong>Password reset link <a href="<%=business_forgot_view_url(@user.id,@user.forget_password_token)%>">Click Here To Reset your password</a></strong>
    <p>If you did not request for password reset link from the application and feel unauthorized use of your email, please let us know and contact us as soon as possible.We will restrict and deactivate the fake request.</p>
    <P>We are happy to help you.</P>
    <br><br><br>
    Thanks.<br>
    Escort App

  </body>
</html>
<!--<a href="<%#= url_for :controller => "passwords", :action => "forget" ,:user_id=> @user.id,:token=>@user.forget_token %>">Click here</a>-->