    <footer id="colophon" class="site-footer" role="contentinfo">
      <div id="footer-sidebar" class="footer-widget-area" role="complementary">
      </div>
      <!-- #primary-sidebar -->
      <div class="footer-text-area">
        <div class="site-info">
          <div class="site-copyright-area">
            Copyright &copy; 2016 TecOrb Technologies. &bull; Address &bull; Tel: 42-898-4363 </div>
        </div>
        <!-- .site-info -->
        <!-- <div class="theme-info">
          <a href="https://wordpress.org/">Proudly powered by WordPress</a>
          <span class="sep"> and </span>
          <a href="http://themeforest.net/item/listable-a-friendly-directory-wordpress-theme/13398377?ref=pixelgrade" rel="theme">Listable</a> by <a href="https://pixelgrade.com/" rel="designer">PixelGrade</a>. 
        </div> -->
      </div>
    </footer>