<div class="container ">
  <div class="row margin-top-0">
    <div class="col-lg-4 margin-top-0 bg-white border margin-left-5">
      <div class="panel-body">
        <center>
          <p class="p1"><b>Basic</b></p><br>
          <p class="p2"><b>Free</b></p><br>
          <p class="p1">Standard listing submission, active for 30 days.</p><br>
          <p class="p1"><b>One</b> Listing</p><br>
          <p class="p1"><b>30 Days</b> Availability</p><br>
          <p class="p1"><b>Standard</b> Listing</p><br>
          <p class="p1"><b>Limited</b> Support</p><br> 
          <a class="btn btn-primary" href="<%=new_business_path(:value=>"free")%>">Get Started</a>
        </center>
      </div>
    </div>
    <div class="col-lg-5 margin-top-0 bg-white margin-left-12 border">
      <center><button class="btn btn-primary margin-top-3" id="package-213"> Most Popular</button></center><br>
        <div class="panel-body">
        <center>
          <p class="p1"><b>Professional</b></p><br>
          <p class="p2"><b>$</sup>4.95</span></b></p><br>
          <p class="p1">One Time Fee for one listing, highlighted in the search results.</p><br>
          <p class="p1"><b>One</b> Listing</p><br>
          <p class="p1"><b>30 Days</b> Availability</p><br>
          <p class="p1"><b>Standard</b> Listing</p><br>
          <p class="p1"><b>Limited</b> Support</p><br>
          <a class="btn btn-primary" href="<%=new_business_path(:value=>"paid")%>">Get Started</a>
        </center>  
      </div>       
    </div>
  </div>
</div>  

