
	<div class="row margin-top-6">
		<div class="col-sm-2">
	    <div class="navbar navbar-primary margin-left-1" role="navigation">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle margin-top-8" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <span class="visible-xs navbar-brand margin-top-8">Menu</span>
	      </div>
	      <div class="navbar-collapse collapse sidebar-navbar-collapse margin-top-1" style="overflow: hidden !important;">
	      	<ul class="nav nav-pills nav-stacked">
				    <li class="active"><a href="#" id="home">Home</a></li>
				    <li><a href="#" id="business">Add Business</a></li>
				    <li><a href="#" id="my_business">My Business</a></li>
				    <li><a href="#" id="guide">Guide</a></li>
				    <li><a href="#" id="support">Support</a></li>
				    <li><a href="#" id="setting">Setting</a></li>
				    <li><a href="#" id="profile">Profile</a></li>
				  </ul>  
	      </div> 
	    </div> 
	  </div>  
		<div class="col-sm-8">
			<div class="tab-content ">
			 <div id="tab-4" class="tab-pane shadow">
          <div class="panel-body">
            <p><center><h2>Dining</h2></center></p>
            <p> Nam et dolor id arcu efficitur tincidunt quis non nisi. Duis commodo pellentesque quam, id mollis ligula dictum id. Morbi cursus consectetur magna a egestas. Sed eu sagittis leo. Mauris euismod dapibus nisl, at euismod nunc commodo vel. Nulla semper non nisi in placerat. Aenean at nisl eu odio ullamcorper varius non ac ante.</p><p>et dolor id arcu efficitur tincidunt quis non nisi. Duis commodo pellentesque quam, id mollis ligula dictum id. Morbi cursus consectetur magna a egestas. Sed eu sagittis leo. Mauris euismod dapibus nisl, at euismod nunc commodo vel.</p><p>et dolor id arcu efficitur tincidunt quis non nisi. Duis commodo pellentesque quam, id mollis ligula dictum id. Morbi cursus consectetur magna a egestas. Sed eu sagittis leo. Mauris euismod dapibus nisl, at euismod nunc commodo vel.</p> <p>Quisque dictum, felis lobortis faucibus ornare, enim mi mollis ex, ac vestibulum neque nibh at nisi. Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra tristique eros dignissim venenatis.</p>
          </div>
        </div>  
      </div>      
		</div>
	</div>
		
	
<script type="text/javascript">

	$('ul.nav.nav-pills li a').click(function() 
	{           
    $(this).parent().addClass('active').siblings().removeClass('active');           
   });
</script>