<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find near by escorts</title>
     <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag    'business_application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="/assets/custom_page.css">


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

  </head>
  <body>


    <%= yield %>
 
  </body>

</html>

